.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;flex-direction: column;gap: 10px;
}
.title {
font-size: 25px;font-weight: 700;line-height: 1.5;
  text-align: center;
}

